:root {
    --clr-primary: #cb5425;
    --clr-dark: #412E28;
    --clr-white: #FFF2EC;
    --radius-light: 5px;
    --radius-heavy: 50px;
}

a {
    text-decoration: none;
}

/* background-color: var(--main-bg-color); */

html {
    font-family: 'Merriweather', serif;
    background-color: var(--clr-white);
    overflow-y: scroll;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid var(--clr-dark);
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 150px;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-item {
    text-transform: uppercase;
    color: var(--clr-primary);
    margin-right:20px;
}

section#hero {
    display:flex;
    flex-direction: column;
    padding: 35px;
    width: 300px;
    margin:auto;
}

img.logo-big {
    width:100%;
    max-width: 300px;
    margin-left: -15px;
}

h4 {
    color: var(--clr-primary);
    font-weight: 200;
}

.site-step {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-dark);
}

.site-step:first-of-type {
    border-top: 1px solid var(--clr-dark);
}

p.number-heading {
    font-size: 2rem;
    margin-right: 15px;
}

#hero p {
    font-style: italic;
}

.sharp-oval {
    border-radius: 35%;
}

.hero-image {
    position: absolute;
    max-width:350px;
    margin:auto;
    z-index: -1;
    opacity: .10;
    margin-top: -20px;
}

#pricing {
    background-image: url("/assets/img/brandon-and-sarah-slim.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top:50px;
}

.pricing-cards {
    display: flex;
    flex-direction: column;
    padding-top:50%;
    padding-left: 15px;
    padding-right: 15px;
}

.label {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--clr-dark);
}

.label h4 {
    font-size: 1.5rem;
}

.label p {
    padding:0;
    margin:0;
}

.pricing-card {
    height: 150px;
    background-color: var(--clr-white);
    border-radius: 25px;
    margin-bottom: 25px;
    display: flex;
}

.pricing-descriptions {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.pricing-description {
    margin-bottom: 15px;
}

#previous-work h3 {
    font-size: 3rem !important;
    text-transform: capitalize;
    font-style: italic;
    color: var(--clr-primary);
    font-weight: bold;
    text-align: center;
}

.left-column, .right-column, .middle-column {
    display: flex;
    flex-direction: column;
    width:27.5%;
}

.left-column {
    margin-top: -25px;
}

.right-column {
    margin-top: -40px;
}

.middle-column {
    margin-top: 50px;
}

.gallery {
    display:flex;
    justify-content: space-evenly;
}

.gallery-img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 70px;
}

textarea {
    max-width: 100%;
    background-color: var(--clr-white);
    border-radius:5px;
    min-height:50px;
    padding:15px;
    margin-bottom: 15px;
}

#contact {
    background-color: var(--clr-primary);
    padding: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: space-evenly;
    min-height:350px;
}

input {
    display:block;
    float:left;
    max-width: 100%;
    padding:15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--clr-white);
    border:none;
}

input:focus {
    outline: 3px solid var(--clr-dark);
}

#contact h3 {
    color:var(--clr-white);
    font-size: 2rem;
    margin-top:5px;
    text-align:center;
}

.input-grouping  {
    width:100%;
    display: flex;
    flex-direction: column;
}
.text-area-grouping {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px; 
    color:var(--clr-white);
}

button[type="submit"] {
    max-width: 100%;
    padding:15px;
    background-color: var(--clr-primary);
    border:2px solid var(--clr-white);
    border-radius: 5px;
    color:var(--clr-white);
}

button[type="submit"]:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary);
    cursor: pointer;
}

@media only screen and (max-width: 449px) {
    section#hero {
        width: 250px;
        padding: 35px 15px 15px 15px;
    }

    img.logo-big {
        width:250px;
    }

    .hero-image {
        margin-right:15px;
        margin-left:-15px;
    }  

    .pricing-card {
        height: 300px;  
    }

    #pricing {
        height:1100px;
    }
}

/*tablet*/
@media only screen and (max-width: 1000px) and (min-width: 700px) {
    .hero-image {
        position: relative;
        max-width:350px;
        margin:auto;
        z-index: -1;
        opacity:100;
        margin-top: -20px;
        margin-left: 20px;
    }

    section#hero {
        width: 100%;
        max-width: 600px;
        flex-direction:row;
        align-items: space-between;
    }

    .hero-text-content {
        margin-right: 20px;
    }

    #pricing {
        background-image: url("/assets/img/brandon-and-sarah-tablet.png");
        height: 600px;
    }
    
    .pricing-cards {
        padding-top:0px;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
        height:inherit;
        width: 50%;
    }
    .sharp-oval {
        border-radius: 200px;
    }

    .pricing-card:last-of-type {
        margin-bottom: 0;
    }

    #previous-work {
        display:flex;
        flex-direction:row;
        margin-top: 50px;
    }

    #previous-work h3 {
        writing-mode: vertical-rl;
        margin-top: -50px;
    }
}
/* desktop */
@media only screen and (min-width: 1001px) {
    .hero-image {
        position: relative;
        max-width:350px;
        margin:auto;
        z-index: -1;
        opacity:100;
        margin-top: -20px;
        margin-left: 20px;
    }

    section#hero {
        width: 100%;
        max-width: 800px;
        flex-direction:row;
        align-items: space-between;
    }

    .hero-text-content {
        margin-right: 20px;
        width:50%;
    }

    #pricing {
        background-image: url("/assets/img/brandon-and-sarah-dt.png");
        height: 600px;
    }

    .pricing-cards {
        padding-top:0px;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
        height:inherit;
        width: 50%;
    }

    .pricing-card:last-of-type {
        margin-bottom: 0;
    }

    #previous-work {
        display:flex;
        flex-direction:row;
        margin-top: 50px;
    }

    .sharp-oval {
        border-radius: 200px;
    }

    .gallery-img {
        border-radius: 200px;
    }

    #previous-work h3 {
        text-align: left;
        align-self: center;
        margin-left: 45px;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .input-grouping {
        width: 50%;
    }

    input[name="firstName"], input[name="emailAddress"]{
        margin-right: 15px;
    }

    button[type="submit"] {
        width: 100%;
    }
}