/* desktop */
@media only screen and (min-width: 900px) and (max-width: 4000px) {
  .container {  
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: .5fr 1fr .5fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(max-content, max-content);
    grid-template-areas:
      "sidebar about about ."
      ". experience experience ."
      ". skills education .";
    }

    main {
      padding: 0 50px 0 50px;
    }

    #menu {
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding: 20px;
      margin-top: 20px;
      }
      
      .menu-item {
        padding:15px;
        width: 100%;
        justify-self: flex-end;
        border-right: 5px solid #75C9C8;
        border-bottom: 0 !important;
        border-radius: 2px 5px 5px 2px;
        margin-bottom: 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

      #sidebar {
        position: fixed;
      }

      .info {
        flex-direction: row;
      }
}

h1,h2,h3,h4,h5,h6 {
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .15fr .5fr .5fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(max-content, max-content);
    grid-template-areas:
      ". sidebar ."
      "about about skills"
      "experience experience education";
    }

      #sidebar {
        position: fixed;
        justify-self: center;
      }

      #about {
        align-self:flex-start;
      }

      #skills {
        padding-top:35px;
      }

      .profile-picture {
        width:150px !important;
      }
}

@media only screen and (max-width: 599px) {
  .container {  
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: .15fr .5fr .5fr .25fr .25fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(max-content, max-content);
    grid-template-areas:
      "sidebar"
      "about"
      "experience"
      "education"
      "skills";
  }

  #experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100vw;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  .info {
    flex-direction: column;
  }
  
}
#sidebar { 
  grid-area: sidebar;
}



.menu-item:hover {
  background-color: #CDECEB;
  transition: .5s;
}

.active:hover {
  background-color: #75C9C8;
}

a {
  text-decoration: none;
}

.active {
  background-color: #75C9C8;
  color:white !important;
}

#about { grid-area: about; }

#experience { 
  grid-area: experience;
  border-right: 2px solid #75C9C8;
  border-top: 2px solid #75C9C8;
  border-bottom: 2px solid #75C9C8;
  padding: 10px 10px 10px 0px;
}

#skills { grid-area: skills; }

#education { grid-area: education;} 

.profile-picture {
  height:auto;
  border: 10px solid #75C9C8 !important;
  border-radius: 50%;
  width:200px;
  margin-left:-5px;
}

#about {
  display:flex;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
}

.img-container {
  margin-right:20px;
}

html {
  font-family: Helvetica, sans-serif;
  color:#0D2120;
  background-color: #F5FBFB;
}

a:visited {
  color: #0D2120;
} 

.job-entry {
  border-left:#75C9C8 5px solid;
  border-radius: 5px;
  padding-left:15px;
}

#experience h2 {
  margin-bottom: 15px;
}

button {
  background-color: #75C9C8;
  border: 0;
  color:white;
  text-transform: uppercase !important;
  border-radius: 5px;
  width: 45%;
  padding:10px 0 10px 0;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-bundle {
  margin-right: 15px;
  display: flex;
}

:target {
  animation: target-fade 2s;
}

@keyframes target-fade {
  from {background-color:#CDECEB;}
  to {background-color: transparent;}
}

div {
  border-radius:5px;
}

button:hover {
  cursor: pointer;
}

h2 {
  margin-bottom: 15px;
}

footer {
  background-color:#75C9C8;
  margin-top:auto;
  height: 125px;
  text-align:center;
  padding-top:25px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding:0 15px 0 15px;
}

#menu {
  display: flex;
  margin: auto;
  align-items: end;
  padding: 20px;
  justify-content: center;
  margin-bottom:25px;
  }
  
  .menu-item {
    padding:15px;
    width: 100%;
    justify-self: flex-end;
    border-bottom: 5px solid #75C9C8;
    border-radius: 2px 5px 5px 2px;
    margin-bottom: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }